html{
    font-size: 16px;
}

body{
    background-color: rgb(83, 0, 21);
    padding: 0 !important;
    margin: 0 !important;
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    text-align: center;
}

h1{
    font-size: clamp(2rem,2vw,4rem);
    color: white;
}

a{
    color: white;
    text-decoration: none;
    font-size: clamp(1rem, 1.5vw, 3rem);
}

section{
    margin-top: clamp(8px, 2vw, 40px);
    margin-bottom: clamp(8px, 2vw, 40px);
}

#mimo-img{
    width: clamp(64px,10vw,300px);
    height: clamp(64px,10vw,300px);
    border-radius: 50%;
    border: solid 5px black;
    transform: scale(1);
    transition: all 0.2s ease-out;
}

#mimo-img:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in;
}


.container-socialmedia{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3.14px black solid;
    border-radius: 20%;
    box-shadow: 10px 10px rgb(0,0,0);
    transform: scale(1);
    transition: all 0.2s ease-out;
}

.container-socialmedia:hover{
    transform: scale(0.9);
    transition: all 0.2s ease-in;
    border: 2px black solid;
    box-shadow: 2px 2px rgb(0,0,0);
}

.container-all{
    background-color: rgb(137, 27, 39);
    margin: auto;
    border-radius: 10%;
    padding: 32px;
    width: 30vw;
    max-height: 60dvh;
    height: fit-content;
}

.img-icon{
    width: clamp(16px,50%,64px);
    height: clamp(16px,50%,64px);
    border-radius: 50%;
    padding-right: 7px;
}

main {
    display: flex;
}

.cats{
    height: clamp(100px,50%,500px);
    width: clamp(100px,95%,500px);
}

#container-link{
    width: 33%;
    margin: 2.5% 0 2.5% 0;
    justify-content: space-between;
}

.container-cats-figure{
    align-items: center;
    justify-content: center;
}

.cat-right{
    margin-left: 10%;
    margin-top: 30%;
}

.cat-left{
    margin-right: 10%;
    margin-top: 30%;
}

@media (orientation: portrait) {
    .cats {
        display: none;
    }

    #container-link{
        width:clamp(600px,100%, 1400px);
        justify-content: center;
    }

    body{
        padding: 1% 12.5% 12.5% 12.5%;
    }

    .container-all{
        height:clamp(600px,100%, 1200px);
        width: clamp(400px, 75%, 800px);
    }

    .img-icon{
        width: clamp(12px,75%,48px);
        height: clamp(12px,75%,48px);
        border-radius: 50%;
        padding-right: 7px;
    }

    a{
        color: white;
        text-decoration: none;
        font-size: clamp(1.25rem, 2vw, 2.5rem);
    }
}