html{
    font-size: 16px;
}

body{
    background-color: rgb(83, 0, 21);
    padding: 0 !important;
    margin: 0 !important;
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-link-tree{
    background-color: rgb(137, 27, 39);
    margin: auto;
    border-radius: 10%;
    padding: 64px;
    width: 60vw;
    height: max-content;
    min-width: max-content;
}

#header-link-tree{
    text-align: center;
}

h1{
    font-size: clamp(2rem,2vw,4rem);
    color: white;
}

#mimo-img{
    aspect-ratio: 1/1;
    height: clamp(64px,20vw,200px);
    border-radius: 50%;
    border: solid 5px black;
    transform: scale(1);
    transition: all 0.2s ease-out;
}

#mimo-img:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in;
}

#main-link-tree {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin: 0 auto;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-width: 100px;

    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 600;

    border: 3px black solid;
    border-radius: 20px;

    margin: min(4vw, 40px) auto;
    padding: 10px 0;
    
    background-color: rgb(137, 27, 39);
    color: white;

    box-shadow: 10px 10px rgb(0,0,0);
    transition: 
        transform 0.2s ease-out,
        box-shadow 0.2s ease-out;

    cursor: pointer;
}

button:hover{
    transform: scale(0.9);
    border: 2px black solid;
    box-shadow: 2px 2px rgb(0,0,0);
}

.img-icon{
    height: clamp(16px,4vw,64px);
    aspect-ratio: 1/1;
    border-radius: 9999px;
    margin: 0 8px;
}

.cats{
    aspect-ratio: 2/3;
    width: 33%;
    margin: 0 40px;
}

@media (orientation: portrait) {
    .cats {
        display: none;
    }

    #container-link{
        width: 70%;
    }

    button{
        width: 60%;
    }
}